// Include custom home
section.home {
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 15px;
}
.home>header .title {
    background: none !important;
}
.global-header .nav-links .secondary {
    .btn-holder {
        letter-spacing: -.32em;
        margin: 0 -7px;
        .nav-item {
            letter-spacing: normal;
            margin: 0 7px;
            padding: 12px 0;
            .btn {
                line-height: 20px;
                padding: 9px 17px;
                font-size: 14px;
                border-radius: 6px;
                font-weight: 500;
                display: block;
            }
        }
    }
}
#main .home.style-logout  {
    background: #23235b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 234.5px);
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
    header {
        background: none;
        text-align: center;
        .readable-width {
            max-width: 568px;
            margin: 0 auto;
        }
        .title-text {
            color: #ffffff;
            font-size: 2.25rem;
            @media (min-width: 568px) {
                font-size: 3rem;
            }
            font-weight: 700;
        }
        .subtitle-text {
            color: #ffffff;
            font-size: 1.5rem;
            @media (min-width: 568px) {
                font-size: 2rem;
            }
            font-weight: 700;
        }
        .title-secondary {
            color: #3DB28C;
        }
    }
}

