$primary: {{ INDIGO_PRIMARY_COLOR }};
$primary-light: #F2F7F8;

// Theme fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
$serif: Crimson;
$font-family-sans-serif:  "Source Sans 3", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$f-sans-serif:  "Source Sans 3", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';


// Introducing new variables

$dark: #111827;
$light-dark: #374151;
$big-screen: 1200px;



// Introducing dark-theme variables

$primary-d: #AEC7F6;
$primary-light-d: #292A2C;
$light-drak-d: #374151;
$text-color-d: #F8F8F8;
$text-color-primary: #DDDFE2;
$border-color-d: #777792;
$light-overlay-d: #36383B;
$danger-d: #FFA07A;
$success-d: #54CF5E;
$btn-color-d: #112F6B;
$body-bg-d:#0D0D0E;

$warning-400: #ffe340;
$page-color-transition: transparent .2s ease, color .2s ease;
