<%namespace name='static' file='../static_content.html' />
<%page expression_filter="h" />
<%! from django.utils.translation import gettext as _ %>


    <%inherit file="../main.html" />

    <%block name="pagetitle">${_("Privacy Policy")}</%block>

    <main id="main" aria-label="Content" tabindex="-1">
        <section class="container about static-content">
            <h1>
                <%block name="pageheader">${page_header or _("Privacy Policy")}</%block>
            </h1>
            <h2><strong>Purpose of this policy</strong></h2>
            <p>This privacy policy provides information on how Health Data Research UK (“HDR UK” “we”, “us” or “our”)
                collects and processes your personal data. It also describes your data protection rights, including a
                right to object to some of the processing which HDR UK carries out. More information about your rights,
                and how to exercise them, is set out in the “What rights do I have?” section.</p>
            <h2><strong>Data controller</strong></h2>
            <p>HDR UK is a limited company registered in England and Wales under company number 10887014.&nbsp; Its
                registered office is at 215 Euston Road, London, England, NW1 2BE.</p>
            <p>HDR UK is the controller and responsible for your personal data.</p>
            <p>We have a data protection manager who is responsible for overseeing questions in relation to this privacy
                policy. If you have any questions about this privacy policy, including any requests to exercise your
                legal rights as set out in this privacy policy, please contact: <a
                    href="mailto:dataprotection@hdruk.ac.uk">dataprotection@hdruk.ac.uk</a></p>
            <h2><strong>Data we collect about you</strong></h2>
            <p>Personal data means any information about an individual from which that person can be identified. We may
                collect, use, store and transfer different kinds of personal data:</p>
            <ul>
                <li><strong>Identity data</strong> including first name, last name, job title and similar identifier,
                    sector and ethnicity information where you chose to provide it to us as part of our equal
                    opportunities monitoring</li>
                <li><strong>Contact data</strong>&nbsp;such as your email address, address, telephone number and social
                    media address.</li>
                <li><strong>Communications Data</strong> including your communication preferences.</li>
                <li><strong>Technical data</strong>&nbsp;such as internet protocol (IP) address, browser type and
                    version and operating system and platform. Please see our&nbsp;<a
                        href="#cookies-policy">cookie policy</a>&nbsp;for further
                    details.</li>
                <li><strong>Image Data</strong> such as photos and videos taken with your agreement</li>
            </ul>
            <h2><strong>How is your personal data collected?</strong></h2>
            <p>We use different methods to collect data from you including through:</p>
            <p><strong>Direct interactions</strong>. You may give us your personal data by filling in the enquiry form
                on our website, corresponding with us by phone, email, social media or otherwise, when you sign up to
                our newsletter or register for an event, training session or meeting.</p>
            <p><strong>Automated interactions</strong>. As you interact with our website we may collect technical data
                by using cookies or similar technologies. Please see our&nbsp;<a
                    href="https://www.hdruk.ac.uk/terms-and-conditions/cookies/">cookie policy</a>&nbsp;for further
                details.</p>
            <p><strong>Third parties. </strong>When you register for our events or complete a survey via a third-party
                platform such as Eventbrite or SurveyMonkey, we will obtain your registration details from the platform
                operator.</p>
            <h2><strong>How we use your personal data and the purpose for which we use it</strong></h2>
            <p>We will use your personal data for the following purposes:</p>
            <p>To conduct our business and pursue our legitimate interests, in particular:</p>
            <ul>
                <li>To respond to any enquiry you make, we will use your identity data and contact data.</li>
                <li>We monitor use of our websites, and use your information to help us monitor, improve, and protect
                    our products, content, services and websites, both online and offline.</li>
                <li>In connection with legal claims, compliance, regulatory and investigative purposes as necessary
                    (including disclosure of such information in connection with legal process or litigation).</li>
            </ul>
            <p>Where you give us your consent:</p>
            <ul>
                <li>To provide you with our information and updates about our work, new services, and developments that
                    you may be interested in via our newsletter and other communications such as letters and event
                    invitations, we will use your identity data and contact data.</li>
                <li>To improve our website, we will use your technical data.</li>
                <li>To monitor the representation of the <a
                        href="https://www.hdruk.ac.uk/about-us/involving-and-engaging-patients-and-the-public/get-involved/join-hdr-uk-voices/">HDR
                        UK Voices</a> network, where you chose to provide information relating to ethnicity and gender.
                </li>
                <li>To use your images in promotional materials for HDR UK</li>
            </ul>
            <p>For purposes which are required by law, in response to requests by government or law enforcement
                authorities conducting an investigation.</p>
            <h2><strong>Withdrawing consent or otherwise objecting to direct marketing</strong></h2>
            <p>Wherever we rely on your consent, you will always be able to withdraw that consent, although we may have
                other legal grounds for processing your data for other purposes, such as those set out above. In some
                cases, we are able to send you direct marketing without your consent, where we rely on our legitimate
                interests.&nbsp; You have an absolute right to opt-out of direct marketing, or profiling we carry out
                for direct marketing, at any time. You can do this by following the instructions in the communication
                where this is an electronic message, or by contacting us using the details set out above.</p>
            <h2><strong>Disclosure of personal data</strong></h2>
            <p>We may share your personal data with external third-party system providers who provide services including
                IT, online training, system administration and cloud-based software services.&nbsp; We may also share
                your contact information with external third-party organisations which we co-run patient and public
                involvement activities with or arrange events or training on behalf of HDR UK.</p>
            <p>We will not share your personal data with other third parties unless you give your consent for us to do
                so, and we will not share your information with any other organisations for their own marketing, market
                research or commercial purposes.</p>
            <p>We require all third parties to respect the security of your personal data and to treat it in accordance
                with the law. We do not allow our third-party service providers to use your personal data for their own
                purposes and only permit them to process your personal data for specified purposes and in accordance
                with our instructions.</p>
            <p>We may share your personal information with regulators or other authorities if we have a legal obligation
                to do so.</p>
            <p>If HDR UK is transferred or integrated with another business, your details will be disclosed to our
                advisers and the other party’s advisors.</p>
            <h2><strong>International transfers</strong></h2>
            <p>Some of our external third-party system providers are based in the United States or other countries
                outside the UK and EEA so their processing of your personal data will involve a transfer of data.
                Whenever we transfer your personal data out of the UK and EEA, we ensure a similar degree of protection
                is afforded to that personal data by ensuring at least one of the following safeguards is implemented:
            </p>
            <ul>
                <li>We will only transfer your personal data to countries that have been deemed to provide an adequate
                    level of protection for personal data by the European Commission.</li>
                <li>Where we use certain service providers in countries which have not been deemed to provide an
                    adequate level of protection, we will use specific contracts approved by the European Commission
                    which give personal data the same protection it has in the UK and Europe. A copy of this can be
                    provided for your review on request to the contact details below.</li>
            </ul>
            <h2><strong>Data retention</strong></h2>
            <p>We will only retain your personal data for as long as reasonably necessary to fulfil the purposes we
                collected it for. Where we process personal data for marketing purposes or with your consent, we process
                the data until you ask us to stop and for a short period after this (to allow us to implement your
                requests). We also keep a record of the fact that you have asked us not to send you direct marketing or
                to process your data so that we can respect your request in future.</p>
            <p>The lifespan of the cookies we use is explained in our <a
                    href="https://www.hdruk.ac.uk/terms-and-conditions/cookies/">cookie policy</a>.</p>
            <h2><strong>Your legal rights</strong></h2>
            <p>Under certain circumstances, you have rights under data protection laws in relation to your personal
                data, including:</p>
            <ul>
                <li><strong>Request access to your personal data</strong>&nbsp;(commonly known as a “data subject access
                    request”). This enables you to receive a copy of the personal data we hold about you and to check
                    that we are lawfully processing it. <a
                        href="https://ico.org.uk/your-data-matters/your-right-to-get-copies-of-your-data/">You can read
                        more about this right here.</a></li>
                <li><strong>Request correction of your personal data</strong>. This enables you to have any incomplete
                    or inaccurate data we hold about you corrected, though we may need to verify the accuracy of the new
                    data you provide to us. <a
                        href="https://ico.org.uk/your-data-matters/your-right-to-get-your-data-corrected/">You can read
                        more about this right here.</a></li>
                <li><strong>Request erasure of your personal data</strong>. This enables you to ask us to delete or
                    remove personal data where there is no good reason for us continuing to process it. Note, however,
                    that we may not always be able to comply with your request of erasure for specific legal reasons
                    which will be notified to you, if applicable, at the time of your request. <a
                        href="https://ico.org.uk/your-data-matters/your-right-to-get-your-data-deleted/">You can read
                        more about this right here.&nbsp;</a></li>
                <li><strong>Object to processing of your personal data</strong>. This enables you to object to
                    processing of your personal data if you feel it impacts on your fundamental rights and freedoms or
                    if we are using it for direct marketing purposes. <a
                        href="https://ico.org.uk/your-data-matters/the-right-to-object-to-the-use-of-your-data/">You can
                        read more about this right here.&nbsp;</a></li>
                <li><strong>Request restriction of processing your personal data</strong>. This enables you to ask us to
                    suspend the processing of your personal data in a number of different scenarios, such as where you
                    want us to establish the accuracy of the data. <a
                        href="https://ico.org.uk/your-data-matters/your-right-to-limit-how-organisations-use-your-data/">You
                        can read more about this right here</a>.</li>
                <li><strong>Request transfer of your personal data</strong>. This enables you to request the transfer of
                    your personal data to a third party. Note that this right only applies to automated information
                    which you initially provided consent for us to use or where we used the information to perform a
                    contract with you. <a
                        href="https://ico.org.uk/your-data-matters/your-right-to-data-portability/">You can read more
                        about this right here.</a></li>
                <li><strong>Right to withdraw consent</strong>. This enables you to withdraw your consent, which we are
                    relying on to process your personal data. If you withdraw your consent, we may not be able to
                    provide certain services to you. We will advise you if this is the case at the time you withdraw
                    your consent.</li>
            </ul>
            <p>If you wish to exercise any of these rights, please&nbsp;contact DataProtection@hdruk.ac.uk. You will not
                have to pay a fee to access your personal data (or to exercise any of the other rights).</p>
            <p>We may need to request specific information from you to help us confirm your identity and ensure your
                right to access your personal data (or to exercise any of your other rights). This is a security measure
                to ensure that personal data is not disclosed to any person who has no right to receive it. We may also
                contact you to ask you for further information in relation to your request to speed up our
                response.&nbsp; We try to respond to all legitimate requests within one month. Occasionally it may take
                us longer than a month if your request is particularly complex or you have made a number of requests. In
                this case, we will notify you and keep you updated.</p>
            <p>These rights may be limited, for example, if fulfilling your request would reveal personal data about
                another person, or if you ask us to delete information which we are required by law or have compelling
                legitimate interests to keep. If you have unresolved concerns, you have the right to complain to the
                Information Commissioner, the UK’s data protection authority.</p>
                <h1 id="cookies-policy">Cookies Policy</h1>
                <p>A cookie is a very small text document, which often includes an anonymous unique identifier. Cookies are created when your browser loads a particular website. The website sends information to the browser which then creates a text file. Every time the user goes back to the same website, the browser retrieves and sends this file to the website’s server. Find out more about the use of cookies on <a href="https://www.allaboutcookies.org">www.allaboutcookies.org</a>. We use the following cookies:</p>
                
                <h2>Strictly Necessary Cookies</h2>
                <p>These cookies are necessary for the website to function and cannot be switched off in our systems. They are only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in forms. You can set your browser to block or alert you about these cookies, but some parts of the site will not then work. These cookies may store personally identifiable information such as your username or email address.</p>
                <p>Cookies used:</p>
                <ul>
                    <li>OptanonAlertBoxClosed</li>
                    <li>OptanonConsent</li>
                    <li>_fbp</li>
                    <li>ab.storage.deviceId</li>
                    <li>ab.storage.sessionId</li>
                    <li>ab.storage.userId</li>
                    <li>ajs_anonymous_id</li>
                    <li>ajs_user_id</li>
                    <li>csrftoken</li>
                    <li>edx-jwt-cookie-header-payload</li>
                    <li>edx-jwt-cookie-signature</li>
                    <li>edx-user-info</li>
                    <li>edxloggedin</li>
                    <li>lms_sessionid</li>
                    <li>openedx-language-preference</li>
                </ul>
            
                <h2>Performance Cookies</h2>
                <p>These cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site. They help us to know which pages are the most and least popular and see how visitors move around the site. All information these cookies collect is aggregated. We use these cookies only with your consent.</p>
                <p>Cookies used:</p>
                <ul>
                    <li>_ga</li>
                    <li>_gid</li>
                    <li>_gat</li>
                </ul>

                <h3>Targeting and Social Media Cookies</h3>
                <p>We use these cookies to collect information about your browsing habits in order to make advertising more relevant to you and your interests. They are also used to limit the number of times you see an advert as well as help measure the effectiveness of an advertising campaign. These cookies may be set through our site by our advertising partners listed below.</p>
                <p>Social media cookies are used when you share information using a social media sharing button on our website, or when you engage with our content on or through a social site. These cookies collect information about your social media interaction with the website, such as whether or not you have an account with the social media site and whether you are logged into it when you interact with content on the website. They may be used by those companies to build a profile of your interests and show you relevant adverts on other sites. We set these cookies only with your consent.</p>
                <p>Cookies used:</p>
                <ul>
                    <li>_fbp</li>
                </ul>
                <p><a id="ot-sdk-btn" class="register-btn btn ot-sdk-show-settings">Cookies Settings</a></p>
            </div>
        </section>
    </main>